
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
.typeHere{
	position:absolute;
	top:0;
	//height:100px;
	//width:100%;
	background:white;
}
.extra, .pageTitle>div, .intro_list , #portfolio-button, .user-icon, .userInfo{
visibility:hidden;
}
#gradient2{
padding-top:100px;
border-top: 3px dashed gray;
}
	  .gallery:hover{
	  opacity:0.4;
	  }
  .modal{
  top:40%;
  }
	  .navbar-right{
	display:none !important;	  
	  }
  .ban-container
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  .banner
{
text-align:center;
  position: relative;
  padding: 10px 20px;
  animation: loader 1s cubic-bezier(0.5, 0.1, 0.15, 1) alternate infinite;
}
.modal-content{
background:transparent;
    box-shadow: none;
    border: none;
}
.modal-header{
border-bottom:0px solid white;
}
.modal-backdrop.in{
opacity:0.9;
background:black;
}

@keyframes loader
{
  0%
  {
    letter-spacing: -1px;
  }
  100%
  {
    letter-spacing: 15px;
  }
}

.banner::before
{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  transform: skewX(-15deg);
  background-color: #eee;
}

.banner-left, .banner-right
{
padding-top:8px;
  width: 170px;
  height: 100%;
  position: absolute;
  z-index: -2;
  bottom: -30%;
  transform: skewX(-15deg);
  background-color: #ccc;
}

.banner-left
{
  animation: sub-banner-left 1s cubic-bezier(0.5, 0.1, 0.15, 1) alternate infinite;
}

@keyframes sub-banner-left
{
  0%
  {
    right: 82%;
  }
  100%
  {
    right: 90%;
  }
}

.banner-right
{
  animation: sub-banner-right 1s cubic-bezier(0.5, 0.1, 0.15, 1) alternate infinite;
}

@keyframes sub-banner-right
{
  0%
  {
    left: 82%;
  }
  100%
  {
    left: 90%;
  }
}

.banner-left::before, .banner-right::before
{
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: -1px;
  border: 22px solid;
  border-color: transparent;
}

.banner-left::before
{
  left: -1px;
  border-left-color: black;
  opacity:0.8;
}

.banner-right::before
{
  right: -1px;
  border-right-color: black;
  //opacity:0.8;
}
  #facebook{
  display:none;
  }
  .fb-page{
  display:none;
  }
  .compinfo{
  display:none;	
  }
  }
form{
display:none;
}
div.gallery{
padding:0px;
}	
div.gallery:hover {	
	opacity:1;
	position: relative;
	}

div.gallery:hover .absolute
  {
  display: block;
  }
  div.gallery .compinfo{
  	box-shadow:10px 10px 10px black;
    position:absolute;
	top: 40%;
	left:1%;
	font-size:2vw;
	padding-top:2%;
	padding-bottom:2%;
	background-color:#3333cc;
	color:white;
	border-radius:35px 0px 25px 0px;
  }

			

.mobile-preview{
margin-top:-13%;
} 
.giveMarginTop{
//margin-top:45px;
}


.navbar-inverse {
    background-color: #00537E;
    border-color: #E7E7E7;
    border-color: transparent;
    border-radius: 0px;
}

.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
    color: inherit;
    background-color: inherit;
}
.navbar-brand{
font-size:20px !important;
color:white !important;
}
.dropdown-menu{
background:#944dff;
width:220px;
}
.meh{
padding-left:18px;
font-size:18px;
font-weight:bold;
}
.define-max{
max-width:80px;
}
header{
background:#2098d1;
}
.headNav{
padding-left:10%;
padding-right:10%;
color:white;
//display:flex;
padding-top:30px;
}
.name{
	display: inline-block;
    vertical-align: middle;
	font-family:sans-serif;
	font-size:20px;
}
.desig{
	font-family:sans-serif;
	font-size:16px;
}
.user-icon{
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
    padding-top: 5px;
    padding-right: 20px;
	position:relative;
	top:-15px;
}
.user-icon>i:hover{
    background: white;
    color: #2098d1;
}
.userInfo{
display: inline-block;
}
.pageTitle{
padding-top:10%;
padding-bottom:10%;
color:white;
font-size:2.5em;
text-align:center;
}
.titleDesc{
font-size:16px;
display:block;
}
.myNav{
position:absolute;
top:15px;
right:10%;
    background-color: transparent;
    border: 0px;
}
.navbar-inverse .navbar-nav>li>a {
    color: #dccfcf;
}
.no-pad{
padding:0px;
}
.navbar-inverse .navbar-nav>li>a:first, .navbar-inverse .navbar-nav>li>a:last {
  padding:0px;
}
.navbar-nav>li{
transition: border 0.7s ease-in-out;
}
.navbar-nav>li{
display:table-cell;
text-align:center;
border-bottom:3px solid transparent;
border-top:3px solid transparent;
}
.fixedNav>nav>ul{
width:100%;
display:table;
width:100%;
}
.fixedNav li{
float:none !important;
border-top:0px solid transparent !important;
border-bottom:0px solid transparent !important;
}
.activeFixed{
background:#337ab7 !important;	
}
.activeFixed>a{
color:white !important;
}
.navbar-nav>li:hover{
border-bottom:3px solid white;
border-top:3px solid white;
    //transform: rotateZ(360deg);
    //-webkit-transform: rotateY(360deg);
}
.navbar-nav>li:focus{
border-bottom:3px solid white;
}
.doTra{
//transform:rotateY(360deg);
}
.intro_list{
padding-top:10px;
padding-bottom:20px;
}
.intro_list>li{
display:inline;
font-size:1.25em;
}
.intro_list>li:before { 
content:''; 
padding-right:10px;
padding-left:10px;
}
#portfolio-button{
cursor:pointer;
color:white;
font-size:1em;
font-weight:bold;
text-decoration:none;
position: relative;
    display: inline-block;
    zoom: 1;
	transition-duration: 0.5s;
    -webkit-transition-property: color;
    -moz-transition-property: color;
    -ms-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
}
#portfolio-button>i{
display:block;
}
#portfolio-button[href]:hover{
color: #013a55;
}
@media(max-width:768px){
.myNav{
right:5%;
}
.fixedNav>nav>ul{
	height:50px;
}
#myNavbar{
padding:0px;
margin:0px;
width:300px;
overflow:hidden;
border-color:transparent;
}
.navbar-nav {
    margin: 0px;
}
.navbar-inverse .navbar-nav>li>a{
padding-top:5px;
padding-bottom:5px;
}
}
.padOnHover:hover{
padding:20px;
border-color:black;
opacity:1;
//box-shadow:1px 1px 2px 5px grey;
}
.padOnHover:hover>.showDivEase{
    visibility: visible;
    opacity: 1;
	transition: 1s all ease;
}
.padOnHover>img{
width:100%;
height:100%;
}
.padOnHover{
box-shadow:0px 8px 15px 5px;
    opacity: 0.7; 
visibility:hidden;
position:relative;
transition: 0.5s all ease;
border-radius: 1000px;
border: 10px solid #999;
padding: 30px;
overflow: hidden;
margin-left: 40px;
margin-right: 40px;
}
.animated { visibility: visible !important; }
.absolute>div{
padding-left:0px;
padding-right:0px;
display:inline-block;
}
.showDivEase{
font-size:18px;
color:white;
text-align:center;
padding-top:15px;
height:100px; width:100%; background:black;position:absolute; bottom:0; left:0; visibility:hidden; opacity:0;
color:white;
}
.blackTrans{
transition:overflow 0s, display 0.8s ease;
visibility:visible;
opacity:1;
}
.row.absolute{
padding-left: 20%;
padding-right: 20%;
padding-top: 5px;
margin:auto;
}
.flexabove768{
margin:30px;
}
#bigDown{
font-size:40px;
color:white;
display:block;
visibility:hidden;
}
.skills{
	//margin-top:75px;
	//padding-top:100px;
	padding-bottom:50px;
	border-top:3px dashed gray;
	margin-bottom:50px;
}
.skillImg{
width:200px;
height:170px;
}
header{
background:linear-gradient(90deg,#00537E 10%,#3AA17E 90%);
//background:linear-gradient(90deg, #01a99c 10%, #0698b1 90%);;
}
body{
background:#f2f2f2 url(https://i.stack.imgur.com/PEnJm.png)
}
.fixedNav{
visibility:hidden;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
}
.hidden { opacity: 0; }

.skills{
	position:relative;
}
.skillRightFloat{
	    transform: rotateX(20deg);
	padding-top:10px;
	padding-right:10px;
	height:100%;
	//width:96px;
	position:absolute; 
	top:0; 
	right:0;
	text-align:right;
}
.skillRightFloat button{
	box-shadow:-5px 7px 10px 0px grey;
	width:100px;
}
.skillRightFloat div{
	margin-bottom:10px;
	display:block;
	//text-align:right;
}
.skillLeftFloat{
	    transform: rotateX(20deg);
	padding-top:10px;
	padding-left:10px;
	height:100%;
	position:absolute; 
	top:0; 
	left:0;
}
.skillLeftFloat button{
		box-shadow:5px 7px 10px 0px grey;
		width:100px;
}
.skillLeftFloat>div:nth-of-type(even){
		transform:skewY(-25deg) !important;	
}
.skillLeftFloat>div:nth-of-type(odd){
		transform:skewY(22deg) !important;	
}
.skillRightFloat>div:nth-of-type(even){
		transform:skewY(-25deg) !important;	
}
.skillRightFloat>div:nth-of-type(odd){
		transform:skewY(22deg) !important;	
}
.skillLeftFloat div{
	margin-bottom:10px;
	display:block;
	//text-align:right;
}
.skills button{
    border-radius: 0px;
	width:100px;
}
.mauto{
	margin:auto;
}

@media(min-width:768px){
.flexabove768{
display:flex;
}
}

@media(max-width:480px){
.intro_list{
display:none;
}
#portfolio-button{
margin-top:15px;
}
}
