body{
	font-family:"arial","sans-serif";
	margin-bottom:100px;
}
.logoRow{
	padding:7px 0px 5px 0px;
}
.logoRow>div:nth-child(2){
border-bottom:1px solid #DDD;
	width:100%;
//margin-left:75px;	
}
.top-li{
	margin-left:0px;
	padding-top:10px;
}
.top-li li{
	float:left;
	list-style:none;
	text-decoration: none;
	font-size:13px;
	font-weight:normal;
	color:#004b91;
}
.top-li li {
//margin:0px 15px 0px 15px;
padding-right:15px;
}

a{
	color:#004b91;
}
a:hover{
	color:#e47911;
	text-decoration: none;
}
.sbdRow{
	padding:10px 25px 0px 25px;
}
.sbd{
	width:100px;
	font-size:12px;
}
.left-add{
	display:inline-block;
	font-size:10px !important;
	width:125px;
	background: linear-gradient(#fff,#f2f2f2);
}
.ht35{
	height:35px;
	box-shadow:2px 0px 4px 2px #f3f3f3;
}
.org{
	color:#e47911;
}
.right-add{
    font-size: 12px !important;
    width: 60px;
    background: #464a4c;
    color: #fff;
    cursor:pointer;
    font-weight: bold;
}
.fl{
	float:left;
}
ul.fl >li{
list-style:none;
vertical-align: top;
line-height:15px;
margin:0px 10px 0px 10px;
}
ul.fl>li>a{
	color:#292b2c;
	font-size:12px;
	//line-height:12px;
	vertical-align:top;
	//border-right:1px solid #ccc;
	//margin:0px 10px 0px 10px;
}
.helloCo{
	width:110px;
	color:#292b2c;
	font-size:12px;
}
.dib{
	display:inline-block;
}
.label-search{
	margin-right:5px;
}
.width2li{
	width:45px;
}
.f30{
	font-size:30px;
}
.va-b{
	vertical-align:bottom !important;
}
.w4li{
width:50px;
}
.optionRow{
//height:30px;
background: linear-gradient(#ffffff, #ddd);
//padding-top:5px;
}
.titleSkills{
	margin:0px;
}
.titleSkills>li{
	float:left;
	list-style:none;
	padding:5px 15px 5px 0px;
	color:rgba(41, 43, 44, 0.79);
	font-size:12px;
}
.titleSkills>li:nth-child(1){
	color:#000;
	font-weight:bold;
}
.infoRow{
	background: #ffffdd;
	//height:40px;
}
.infoRowSub{
	width:75%;
	margin:auto;
	font-size:14px;
	text-align: center;
}
.iupdate{
	color:#cc6600;
}
.left-add~input{
	box-shadow:inset 0 0 0 1px #f2f2f2;
}
.override{
	font-size: 13.5px;
    background: white;
    position: absolute;
    padding: 0px 5px 0px 11px;
    font-weight:bold;
}
.amz{
    height: 35px;
}
.mainContent{
	margin-top:15px;
}
p a{
	text-decoration: underline;
}
.myDesc{
	//padding-top: 15px;
}
.unavl{
	font-size:14px;
	color:#900;
	font-weight:bold;
	line-height: 5px;
}
.dontKnow{
	color:#000;
}
.asize a{
	font-size: 12px
}
.myDesc p{
	font-size:12px;
	line-height:14px;
	margin-bottom:0px;
}
hr{
	margin:5px 0px 5px 0px;
}
p label{
	color:gray;
}
.cforp{
	color:#900;
}
.stock{
	color:#090;
	font-size: 16px !important;
    font-weight: bold;
    padding-bottom: 5px;
}
.points{
	margin:20px 0px 40px 0px;
	font-size:12px;
	padding-left:15px;
}
.sinfo{
	color:#E47911;
	font-size: 12px;
}
.f12{
	font-size:12px;
}
.fbt{
	color:#E47911;
	font-weight:bold;
}
.fbtImages{
	display:flex;
}
.fbtImages img{
	width:70px;
	height:60px;
	border:1px solid #ddd;
}
.fa-plus{
	margin-top:auto;
	margin-bottom:auto;
	color:grey;
}
.prodLabel{
	font-weight:bold;
	font-size:13px;
}
.prodDesc{
	font-size:13px;
}
.prodDesc>div{
	padding-left:40px;
}
.pd{
	font-size: 12px;
}
.fof{
	padding-left:5px;
	color:gray;
}
.fullBar{
	width:100px;
	height:15px;
	background: #f4f4cf;
}
.rateColor{
	width:90px;
	height:15px;
	background: #ffcc66;	
}
.starsFlex{
	display:flex;
	font-size: 12px;
	align-items:center;
}
.pdper{
	padding-right: 10%;
}
.blockquote{
	font-size: 13px;
	font-style: italic;
	margin-bottom:0px;
	padding-top:0px;
	margin-top:10px;
}
.from{
	color: gray;
    font-size: 12px;
    padding-left: 20px;
}
.write{
	font-size:12px;
	font-weight: bold;
	background: #e4e1db;
	border-radius: 5px;
	margin-left:15px;
}