.float-right{
float:right !important;
}
.top-pad{
padding-top:5%;
}
.paginateCheck{
font-size:20px;
font-family:arial !important;
font-weight:bold;
border-collapse:collapse;
}
.paginateCheck:nth-of-type(odd){
background:#f2f2f2;
}
.paginateCheck:hover{
cursor:pointer;
font-size:24px;
}
.next:hover, .prev:hover{
background:#5cb85c;
border: 1px solid #5cb85c;
}
.rowsDropdown{
width:100px !important;
}
.books{
height:100px;
width:100px;
}
.lorem{
font-size:14px;
font-weight:normal;
}
.lorem::before { 
    content: " -  ";
}
